*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
ul{
	list-style-type: none;
}

#header{
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.1);
}

#slider{
    width: 100%;
    height: 28vw;
    margin-top: 82px
}

.slider-img{
    height: 28vw;
    min-height: 150px;
    object-fit: cover;

}

.d-md-block{
    color: #fff;
}

#main-content{
    margin-top: 35px;
}

.text-left{
    text-align: left !important;
}

.search-bike{
  margin-bottom: 15px;
}

.bike-status-group{
  margin-bottom: 7px;
}

.bike-status-available{
  border: 1px solid #08d63d;
  color: #08d63d;
  border-radius: 15px;
  display: inline;
  padding: 1px 17px;
}

.bike-status-unavailable{
  border: 1px solid #f00;
  color: #f00;
  border-radius: 15px;
  display: inline;
  padding: 1px 17px;
}

.card-img-top{
  padding: 13px;
  height:200px;
  max-height:200px;
  object-fit:contain; 
}

.card-text{
	min-height: 48px;
}

.cover-rating{
  text-align:center;
  width: 45px;
  height: 22px;
  padding: 2px;
  border: #ee4d2d solid 1px;
  font-size: 11px;
  color: #ee4d2d;
  background-color:#fac55bac ;
  margin-bottom: 5px;
}

.head-content{
  text-align: center;
  margin: 60px 0;
}

#footer{
  margin-top: 30px;
  padding: 50px 0 3px 0;
  background-color: #000;
}

.footer-content{
  text-align: center;
  color: #fff;
}

.search-price{
  height: 37px;
  border: 1px solid #dee2e6;
  border-radius: 7px;
  padding: 0 10px;
}

.bike-search{
  margin-left: 5px;
}

.bike-search:hover{
  background-color: #CCC;
}

.form-login-container{
    margin: 70px auto;
    max-width: 1000px !important;
    border: #ccc 1px solid;
    border-radius: 20px;
    /*height: 400px;*/
}

.left-side-login{
  /* #f6f6f6 */
  /* background: linear-gradient(161deg,rgba(144, 247, 236, 1) 18%, rgba(50, 204, 188, 1) 92%); */
  /*background-color: #3454cf;*/
  background: #cdf7f7;
  background: linear-gradient(161deg,rgba(205, 247, 247, 1) 0%, rgba(52, 84, 207, 1) 82%);
  border-radius: 20px 0 0 20px;
  background-color: #ccc;
}
.side-cover{
  padding: 30px;
  /*height: 398px;*/
}


.logo-login{
  width: 50px;
  /* height: 50px; */
  border-radius: 50%;
  display: inline-block;
  /* margin: 15px auto; */
}

.logo-name{
  display: inline-block;

  margin: 0; /* Xoá margin mặc định nếu cần */
  font-size: 20px;
}

.logo-login-form{
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 10px;
    margin-left: 18px;
}

.head-text-cover{
  margin: 154px auto;
}

.mini-ava{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit:cover;
}

.nav-item-header{
  line-height: 50px;
}

.bike-detail-container{
	padding:12px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-form-container{
	padding: 20px
}

.logo-register-form{
	display: block;
	margin: 20px 0px;
	margin-bottom: 60px
}

@media (max-width: 768px) { 
	.head-text-cover{
		display: none
	}
	.left-side-login{
		border-radius:15px 15px 0 0; 
	}
	.form-login-container{
		width: 95% !important;
	}
}






